$dark : #80684A;
$text-grey: #333333;
$background-soft: #FFF9F3;
$background-white: #FFFBF5;
$white: #FFF;
$main: #80684A;
$brown: #80684A;
$brown-active: #805926;
$grey : #F4EBE2;

@import 'vendor/font';
@import 'vendor/_normalize';
@import 'vendor/animations';

html {
	&.lock {
		max-height: 100vh;
		overflow: hidden;

		&::after {
			top: 0;
			height: 0;
			content: "";
			width: 100%;
			height: 100%;
			position: fixed;
			display: block;
			z-index: 3;
			opacity: 1;
			background-color: #00000080;
			animation: darkness 0.5s linear;
		}
	}
}

body {
	background-color: #FFF9F3;
}

@keyframes darkness {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.container {
	padding: 0 15px;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	@media(max-width: 350px){
		padding: 0 5px;
	}
}

.section-title {
	font-family: Manrope;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: $text-grey;

	span {
		font-family: Playfair Display;
		color: $brown;
	}
}

@import 'vendor/header';
@import 'vendor/intro_main';
@import 'vendor/collection';
@import 'vendor/lost';
@import 'vendor/catalog-block';
@import 'vendor/social';
@import 'vendor/catalog';
@import 'vendor/about';
@import 'vendor/footer';