<section class="about">
	<picture class="about__background to_animate down-fade">
		<source srcset="assets/img/about/about-background.webp" type="image/webp">
		<img src="assets/img/about/about-background.jpg" alt="фото пространства" loading="lazy">
	</picture>
	<div class="about__inner to_animate up-fade">
		<p class="section-title about__title">
			погрузитесь <span>в нашу атмосферу</span>
		</p>
		<p class="about__text">
			Ростов на Дону, Чехова 35/30 культурное пространство «Вокруг центр» 2 этаж 3 офис
		</p>
		<p class="about__time">
			Вторник, четверг с 11.00-18.00
		</p>
		<a href="#" class="about__button">
			<span>смотреть на карте</span>
		</a>
	</div>
	<div class="about__item to_animate"></div>
</section>