<section class="catalog-block">
	<picture class="catalog-block__photo catalog-block__photo_1 to_animate">
		<source srcset="assets/img/catalog/photo1.webp" type="image/webp">
		<img src="assets/img/catalog/photo1.png" alt="Фотография" loading="lazy">
	</picture>
	<picture class="catalog-block__photo catalog-block__photo_2 to_animate">
		<source srcset="assets/img/catalog/photo2.webp" type="image/webp">
		<img src="assets/img/catalog/photo2.png" alt="Фотография" loading="lazy">
	</picture>
	<div class="container catalog-block__container">
		<p class="catalog-block__title to_animate up-fade">
			каталог продукции
		</p>
		<ul class="catalog-block__list">
			<li>
				<a class="catalog-block__link to_animate right-fade animation-group" href="#">Посуда</a>
			</li>
			<li>
				<a class="catalog-block__link catalog-block__link_vintage to_animate left-fade animation-group" href="#">интерьер</a>
			</li>
			<li>
				<a class="catalog-block__link to_animate right-fade animation-group" href="#">украшения</a>
			</li>
			<li><a class="catalog-block__link to_animate left-fade animation-group" href="#">одежда</a></li>
			<li><a class="catalog-block__link to_animate right-fade animation-group" href="#">обувь</a></li>
		</ul>
	</div>
</section>