<section class="collection">
	<div class="container container_collection">
		<div class="collection__wrapper">
			<div class="collection__content to_animate rotate-left">
				<h2 class="section-title collection__title">
					nitka.vintage <span>– не первая любовь</span>
				</h2>
				<p class="collection__text">
					Коллекция винтажной одежды, аксессуаров и антикварных предметов интерьера для
					особенной жизни, бережно собранная по всему миру искусствоведом и экспертом антиквариата – Юлией Мизёвой.
				</p>
				<a href="#" class="collection__button">
					<span>узнать больше о нас</span>
				</a>
			</div>
			<div class="collection__itm to_animate"></div>
		</div>
	</div>
</section>