<header class="header">
	<div class="container container_header">
		<nav class="header__navigation">
			<ul>
				<li><a href="#">главная</a></li>
				<li><a href="#">каталог</a></li>
				<li><a href="#">клиентам</a></li>
				<li><a href="#">о нас</a></li>
				<li><a href="#">контакты</a></li>
			</ul>
		</nav>
		<a href="/" class="header__logo-wrapper">
			<img src="assets/img/header/logo.svg" alt="Логотип сайта">
		</a>
		<div class="header__buttons">
			<a href="#" class="header__button header__button_like">
				<img src="assets/img/header/like-icon.svg" alt="иконка избранного">
			</a>
			<a href="#" class="header__button header__button_like">
				<img src="assets/img/header/pacage-icon.svg" alt="иконка корзины">
			</a>
			<button class="header__burger">
			</button>
		</div>
	</div>
</header>