<section class="intro intro_main">
	<div class="container container_intro">
		<div class="intro__image to_animate">
			<picture>
				<source srcset="assets/img/intro/vintage-image.webp" type="image/webp">
				<img src="assets/img/intro/vintage-image.png" alt="Винтажная картина">
			</picture>
		</div>
		<div class="intro__col">
			<div class="intro__image-border to_animate up-fade">
				<picture>
					<source srcset="assets/img/header/image.webp" type="image/webp">
					<img src="assets/img/header/image.png" alt="Картина в рамке с жемчугом">
				</picture>
			</div>
			<h1 class="intro__title down-fade to_animate">
				магазин <span>винтажной</span> одежды, аксессуаров  <span>и антикварных</span> предметов
			</h1>
			<a href="#" class="intro__button up-fade to_animate">
				<span>перейти в каталог</span>
			</a>
		</div>
	</div>
</section>
