<section class="social">
	<div class="container">
		<p class="section-title social-title">
			следите за обновлениями <span>в социальных сетях</span>
		</p>
		<div class="social__link social__link_telegram">
			<picture class="social__photo">
				<source srcset="" type="image/webp">
				<img src="" alt="Ссылка на телеграм">
			</picture>
		</div>
		<div class="social__link social__link_insta">
			<picture class="social__photo">
				<source srcset="" type="image/webp">
				<img src="" alt="Ссылка на телеграм">
			</picture>
		</div>
	</div>
</section>